* {
  margin:0px;
  padding: 5px;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

div {
  display: block;
  width: 350;
  margin: 50px auto;
  font: 50px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  background-color: red;
}
